<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="muzdrav" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="../../../logs/muzdrav.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss.SSS} [%-5p][%-16.16t][%30c] - %m%n"/>
        </layout>
    </appender>
	
    <logger name="ru.nkz.ivcgzo.serverRegPatient.ServerRegPatient">
        <level value="INFO"/>
        <appender-ref ref="muzdrav"/>
    </logger>
	<logger name="ru.nkz.ivcgzo.serverGenTalons.ServerGenTalons">
        <level value="INFO"/>
        <appender-ref ref="muzdrav"/>
    </logger>
	<logger name="ru.nkz.ivcgzo.serverReception.ServerReception">
        <level value="INFO"/>
        <appender-ref ref="muzdrav"/>
    </logger>
	<logger name="ru.nkz.ivcgzo.serverHospital.ServerHospital">
        <level value="INFO"/>
        <appender-ref ref="muzdrav"/>
    </logger>
	<logger name="ru.nkz.ivcgzo.serverLab.ServerLab">
        <level value="INFO"/>
        <appender-ref ref="muzdrav"/>
    </logger>
	<logger name="ru.nkz.ivcgzo.serverMedication.ServerMedication">
        <level value="INFO"/>
        <appender-ref ref="muzdrav"/>
    </logger>
	<logger name="ru.nkz.ivcgzo.serverInfomat.ServerInfomat">
        <level value="INFO"/>
        <appender-ref ref="muzdrav"/>
    </logger>
	<logger name="ru.nkz.ivcgzo.serverOperation.ServerOperation">
        <level value="INFO"/>
        <appender-ref ref="muzdrav"/>
    </logger>

</log4j:configuration>
